.button {
  display: inline-block;
  vertical-align: middle;
  width: 265px;
  height: 70px;
  padding: {
    top: 24px;
    bottom: 25px;
  }
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #0055B8;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.button--outline {
  color: #0055B8;
  background-color: #FFFFFF;
  border: 2px solid #0055B8;
}