.page__body {
  margin-top: 140px;
}

.page__body--nojs {
  margin-top: 0;
}

.page__main {
  flex-grow: 1;
}

@include breakpoint-down (1024px) {
  .page__body {
    margin-top: 70px;
  }

  .page__body--nojs {
    margin-top: 0;
  }
}

@include breakpoint-down (375px) {
  .page__body {
    margin-top: 70px;
  }

  .page__body--nojs {
    margin-top: 0;
  }
}