.page__body {
  margin-top: 120px;
}

.page__main {
  flex-grow: 1;
}

@include breakpoint-down (1024px) {
  .page__body {
    margin-top: 68px;
  }
}

@include breakpoint-down (375px) {
  .page__body {
    margin-top: 68px;
  }
}