.services-general__container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
}

.services-general__service-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 300px;
  border-radius: 5px;
  background-color: #FFD600;
  padding: {
    top: 39px;
    bottom: 31px;
    left: 36px;
    right: 37px;
  }

  &::before {
    content: "";
    width: 87px;
    height: 86px;
    background-image: url("../img/treatment.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 19px;
    mix-blend-mode: multiply;

    @include bg-retina {
      background-image: url("../img/treatment@2x.png");
    }
  }
}

.services-general__service-info-wrapper--first {
  padding-bottom: 56px;
}

.services-general__service-info-wrapper--second {
  background-color: #FFE040;
  order: -1;

  &::before {
    background-image: url("../img/prosthetics.png");

    @include bg-retina {
      background-image: url("../img/prosthetics@2x.png");
    }
  }
}

.services-general__service-name {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #272727;
  @include h-m-control (0, 4px);
  text-align: center;
}

.services-general__service-description {
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #272727;
  @include p-m-control;
}

.services-general__appointment-form {
  order: -2;
  transform: translateY(-78px);
  z-index: 1;
}

@include breakpoint-down (1024px) {

  .services-general__container {
    padding: {
      left: 0;
      right: 0;
    }
  }

  .services-general__service-info-wrapper {
    max-width: 269px;
    padding: {
      left: 32px;
      right: 33px;
    }
  }

  .services-general__service-info-wrapper--first {
    padding-bottom: 31px;
  }
}

@include breakpoint-down (375px) {
  .services-general__service-info-wrapper {
    display: none;
  }

  .services-general__appointment-form {
    order: 0;
    transform: translateY(0);
    z-index: 1;
  }
}